body{
    font-family: 'nunito', sans-serif;
    background-image: -webkit-gradient(linear, left top, right top, from(#e0c3fc), to(#8ec5fc));
}

.container {
    margin-top: 20%;
    padding: 1% 0;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

h1 {
    font-size: 18px;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 30px;
}

ul{
    margin: 0 auto;
    padding: 0;
}

li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid gainsboro;
    padding: 16px;
    font-weight: bold;
}

.botaoadd {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-style: none;
    font-size: 12px;
    height: 100%;
    margin: 10px auto;
    width: 100%;
    background-color: rgb(122, 63, 177);
    color: rgb(236, 229, 229);
    padding: 9% 48%;
}

button{
    
}

input {
    width: 99%;
    padding: 30px 0;
    text-align: center;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0,5;
    border-style: none;
}

span {
    cursor: pointer;
}

